<div class="container">
	<!-- PROJECTS LIST -->
	<div class="col-50">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<h1>Projects</h1>
				</mat-card-title>
			</mat-card-header>
			<!-- <pre>{{generatedHours | json}}</pre> -->
			<mat-card-content id="teste">
				<h2>{{formattedMonth}}</h2>
				<!-- <table>
					<tr>
						<th *ngFor="let hour of generatedHours">{{hour.hour}}</th>
					</tr>
					<tr>
						<td *ngFor="let hour of generatedHours">{{hour.hour}}</td>
					</tr>


				</table> -->
				<hr>
				<br>
				<br>

				<table>
					<!-- <tr>
						<th *ngFor="let day of generatedMonth">{{day.weekDay}}</th>
					</tr>
					<tr>
						<td *ngFor="let day of generatedMonth">{{day.day}}</td>
					</tr>
					<tr *ngFor="let hour of generatedHours">
						<td>{{hour.hour}}</td>
					</tr> -->
					<tr>
						<th *ngFor="let day of generatedMonth">{{day.weekDay}}</th>
					</tr>
					<tr>
						<td *ngFor="let day of generatedMonth">{{day.day}}</td>
					</tr>
					<tr *ngFor="let hour of generatedHours">
						<td *ngFor="let day of generatedMonth">{{hour.hour}}</td>
					</tr>

				</table>
				<!-- <table mat-table *ngFor="let day of generatedMonth">
					<ng-container matColumnDef="day.weekDay">
						<th mat-header-cell *matHeaderCellDef> {{day.weekDay}} </th>
						<td mat-cell *matCellDef="let user"> {{day.weekDay}} </td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table> -->
				<!-- <mat-list>
          <mat-list-item (click)="selectProject(project)" *ngFor="let project of projects">
            <h3 mat-line>
              {{project.title}}
            </h3>
            <p mat-line>
              {{project.details}}
            </p>
            <button mat-icon-button>
              <mat-icon>close</mat-icon>''
            </button>
          </mat-list-item>
        </mat-list> -->
			</mat-card-content>
		</mat-card>
	</div>
	<!-- PROJECT DETAILS -->
	<!-- <div class="col-50">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<h1>
					</h1>
				</mat-card-title>
			</mat-card-header>
			<form>
				<mat-card-content>
				</mat-card-content>
				<mat-card-actions>
					<button type="submit" mat-button color="primary">Save</button>
					<button type="button" mat-button>Cancel</button>
				</mat-card-actions>
			</form>
		</mat-card>
	</div> -->
</div>