<div class="container">
	<!-- PROJECTS LIST -->
	<div class="col-50">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<h1>Projects</h1>
				</mat-card-title>
			</mat-card-header>
			<!-- <pre>{{generatedHours | json}}</pre> -->
			<mat-card-content id="teste">
				<h2>{{formattedMonth}}</h2>
				<hr><br><br>
				<table>
					<tr>s
						<th *ngFor="let day of generatedMonth">{{day.weekDay}}</th>
					</tr>
					<tr>
						<td *ngFor="let day of generatedMonth">{{day.day}}</td>
					</tr>
					<tr *ngFor="let hour of generatedHours">
						<td *ngFor="let day of generatedMonth">{{hour.hour}}</td>
					</tr>

				</table>
			</mat-card-content>
		</mat-card>

	</div>
	<!-- PROJECT DETAILS -->
	<!-- <div class="col-50">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<h1>
					</h1>
				</mat-card-title>
			</mat-card-header>
			<form>
				<mat-card-content>
				</mat-card-content>
				<mat-card-actions>
					<button type="submit" mat-button color="primary">Save</button>
					<button type="button" mat-button>Cancel</button>
				</mat-card-actions>
			</form>
		</mat-card>
	</div> -->
</div>